*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(5, 84, 8);
    background: linear-gradient(180deg, rgb(6, 106, 46) 20%, rgba(227, 226, 214, 1) 20%);
    height: 100%;
}

.main{
    margin-top: 12vh;
}

.sfondo-chat{
    background-image: url(../img/mine.jpg);
    height: 570px;
}

.sfondo-contatti {
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    padding: 5px;
}

.sfondo-up{
    background-color: lightgray;
    border: 1px solid gray;
}

.avatar{
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    margin-top: 6px;
    display: inline-block;
}

.style{
    background-color: transparent;
    color: gray;
    border: none;
    padding: 5px;
}

button{
    background-color: none;
    border: none;
}

.nome-ora{
    cursor: pointer;
}

.inline{
    display: inline;
}

.parte-io{
    padding: 10px 0;
}

.icon-gray{
    color: gray;
    margin-right: 5px;
}

.icone-piccole{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.notifiche{
    background-color: rgb(73, 225, 255);
    padding: 10px;
}

.bell{
    color: rgb(73, 225, 255);
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
}

.txt-grey{
    font-size: 12px;
    color: grey;
    text-decoration: underline;
    margin-bottom: 15px;
}

.cerca{
    width: 420px;
    font-size: 12px;
    padding: 4px;
}

.background-search{
    background-color: lightgray;
    padding: 5px;
}

.message-space{
    background-color: rgb(238, 236, 236);
    padding: 15px;
}

.message-received{
    background-color: rgb(89, 209, 89);
    border-radius: 35px;
    padding: 15px;
    margin-top: 40px;
    float: right;
    margin-right: 40px;
}

.message-sent{
    background-color: rgb(238, 236, 236);
    border-radius: 35px;
    padding: 15px;
    float: left;
    margin-top: 40px;
}





